</main>
<div class="footer-content">
<footer>
  <p>&copy ; <%= new Date().getFullYear() %> Pilli's Blogs.All rights reserved. </p>
  <a href="#"><i class="fab fa-twitter"></i></a>
  <a href="#"><i class="fab fa-github"></i></a>
</footer>
</div>
</body>
</html>