<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pilli's Blogs</title>
</head>
<body>
 <!-- this is nav bar -->
  <header>
    <div class="logo"><a href="/">Pilli's blogs</a></div>
  </header>

  <nav>
  <a href="/">Home </a>
  <a href="/new">New Post</a>


    
  </nav>
  <main>